{% extends 'base.html' %} {% block content %}
<!--Main layout-->
<main>
  <div class="container">
    <div class="table-responsive text-nowrap">
      <h2>Order Summary</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item Title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
          </tr>
        </thead>
        <tbody>
          {% for order_item in object.items.all %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{order_item.item.title}}</td>
            <td>
              {% if order_item.item.discount_price %}
              {{order_item.item.discount_price}} {% else %}
              {{order_item.item.price}} {% endif %}
            </td>
            <td>
              <a href="{% url 'core:remove_single_item_from_cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
              {{order_item.quantity}}
              <a href="{% url 'core:add_to_cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
              {% if order_item.item.discount_price %}
              {{order_item.get_total_item_discount_price }}
              <span class="badge badge-primary"
                >(Saving ${{ order_item.get_amount_save }})</span
              >
              {% else %} {{order_item.get_total_item_price }} {% endif %}
            </td>
            {% empty %}
            <tr>
              <td>Your cart is empty</td>
            </tr>
            <tr>
                <td colspan="5">
                  <a href="/" class="btn btn-warning float-right ml-2"
                    >Continue Shopping</a
                  >
                </td>
            </tr>
          </tr>
          {% endfor %}
          {% if object.get_total %}
          <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>{{ object.get_total }}</b></td>
          </tr>
          <tr>
            <td colspan="5">
              <a href="/checkout-page/" class="btn btn-primary float-right ml-2"
                >Proceed to checkout</a
              >
              <a href="/" class="btn btn-warning float-right ml-2"
                >Continue Shopping</a
              >
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <hr class="my-4" />
  {% endblock content %}
</footer>
